<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <ul>
              <li class="nav-item">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 p-2">Products</span>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/products">Products</a>
                    <a class="dropdown-item" routerLink="/products/add">Add Product</a>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split mt-1 p-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2">Categories</span>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/categories">Categories</a>
                    <a class="dropdown-item" routerLink="/categories/add">Add Category</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-6">
            <ul>
              <li class="nav-item">
                <a routerLink="/login" class="nav-link">Login</a>
              </li>
              <li class="nav-item">
                <a routerLink="/register" class="nav-link">Register</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> <span class="ml-2 text-white">Menu</span>
    </button>
  </nav>
</div>
