<div class="row">
  <div class="col-12 col-md-10 offset-md-1">
    <div class="item">
      <div class="card shadow-sm" *ngFor="let prod of products">
        <img src="../../../{{prod.image}}" alt="" class="product-img">
        <h3 class="text-center product-title">{{prod.name}}</h3>
        <p class="text-center text-secondary product-desc">{{prod.description}}</p>
        <h6 class="text-center text-success product-price">{{prod.price|currency:"USD":"symbol"}}</h6>
      </div>
    </div>
  </div>
</div>
